*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

/*----------Navigation bar-------------------*/
.navigation-menu-bars,
.navigation-menu-bars::before,
.navigation-menu-bars::after{
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transition: all 0.3s;
}
.navigation-menu{
    background-color: transparent;
    height: 100%;
    position: fixed;
    width: 450px;
    transform: translateX(-100%);
    transition: transform 0.3s 0.3s;

}
.navigation-menu::before{
    background: #fb527a;
    content: '';
    height: 400%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(40deg);
    width: 100%;
    z-index: 0;
}
nav a{
    list-style: none;
    text-decoration: none;
    font-size: 1.7em;
    line-height: 20px;
}
@media screen and (max-width: 600px){
    nav a{
        list-style: none;
        text-decoration: none;
        font-size: 1.3em;
        line-height: 4px;
    }
    .navigation-menu{
        background-color: transparent;
        height: 50%;
        position: fixed;
        width: 350px;
        transform: translateX(-100%);
        transition: transform 0.3s 0.3s;
    }
}
@media screen and (max-width: 600px){
    .navigation-menu::before{
    background: #fb527a;
    content: '';
    height: 400%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(40deg);
    width: 100%;
    z-index: 0;
}
.menu-list{
    padding: 20px 10px;
    position: relative;
    z-index:10;
}
.menu-list-item{
     color: #fff;
     margin: 0px 0;
     opacity: 0;
     transition: opacity 0.5s 0.5s;
}
.navigation-menu-toggle{
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: -40px;
    top: 2px;
    width: 30px;
}
}
/*--------- Undefine classes to call in Js-------------*/

.navigation-menu-open{
    transform: translateX(0);
}
.navigation-menu-open .navigation-menu-bars{
    background-color: transparent;
}
 .navigation-menu-open .navigation-menu-bars::before,
 .navigation-menu-open .navigation-menu-bars::after{
    top: 0;
}
.navigation-menu-open .navigation-menu-bars::before{
    transform: rotate(45deg);
}
.navigation-menu-open .navigation-menu-bars::after{
    transform: rotate(-45deg);
}
.navigation-menu-open .menu-list-item{
    opacity: 1;
}
.navigation-menu-open .menu-list-item:nth-child(1){
    transition-delay: 1s;
}
.navigation-menu-open .menu-list-item:nth-child(2){
    transition-delay: 1.25s;
}
.navigation-menu-open .menu-list-item:nth-child(3){
    transition-delay: 1.5s;
}
.navigation-menu-open .menu-list-item:nth-child(4){
    transition-delay: 1.75s;
}
.navigation-menu-open .menu-list-item:nth-child(5){
    transition-delay: 2;
}
.navigation-menu-open .menu-list-item:nth-child(6){
    transition-delay: 2.25;
}

.navigation-menu-toggle{
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -40px;
    top: 5px;
    width: 30px;
}
.navigation-menu-bars::before,
.navigation-menu-bars::after{
    content: '';
}
.navigation-menu-bars::before{
    left: 0px;
    top: -8px;
}
.navigation-menu-bars::after{
    left: 0px;
    top: 8px;
}
.menu-list{
    padding: 59px 20px;
    position: relative;
    z-index: 10;
}
.menu-list-item{
     color: #fff;
     margin: 40px 0;
     opacity: 0;
     transition: opacity 0.5s 0.5s;
}
.menu-list-item:hover{
    color: #fff;
    text-decoration: none;
}

/*-------------------- Header Section-------------------*/

#header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/background.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute
}
.user-box img{
    border-radius: 30%;
    width: 200px;
    border: 2px solid #fb527a;
}
 .user-box h1{
     color: #fb527a;
     font-weight: 600;
 }
 .user-box p{
     color: #fff;
     font-size: 16px;
 }
 /*--------About section--------*/

 .about{
padding-top: 100px;
margin-bottom: -130px;
}
.profile-img{
    height: 400px;
}

.skills-bar{
    margin-bottom:6px;
    font-weight:600;

}
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
   
}
.progress-bar{
    border-radius: 16px ;
    background: #fb527a !important;
}
/*-------------Work Experience------------------*/
.experience{
    padding-bottom: 50px;
}
.timeline ul{
    border-left: 4px solid #fb527a;
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}
.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}
.timeline .date{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;

}
.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after{
position: absolute;
display: block;
top: 50%;
transform: translateY(-50%);
}
.timeline .date::before{
    content: attr(data-date);
    left: -16rem;
    text-align: right;
    min-width: 6rem;
    font-size: 1rem;
}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fb527a;
    border-radius: 100%;
    left: -5.7rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}

/*-------------Contact----------*/
.contact{
    padding-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/background.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.contact .row{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 .fa{
padding: 10px;
font-size: 40px;
}
.contact .btn{
    padding: 10px 25px 10px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
.contact .btn:focus{
    box-shadow: none !important;
}
.contact .btn:hover{
    border: 2px solid #fb527a !important;
    background: #fb527a !important;
    transition: 0.6s; 

}

/*.............social icon-------------*/
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}